img{
    width: 200px;
    height: 201px;
    border:solid 1px rgb(0, 25, 248);
    background-color: #fff;
}
img:hover {
  transform: scale(1.8);
}
.content{
  border: solid 2px;
  display: flex;
  flex-direction: column;
  

}
.main{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.main:hover {
  opacity: 0.5;
}
.pack{
 display: flex;
 flex-direction: row;
 border: 2px solid;
}
.left{
margin-left: 1rem;
}
.right{

}